body{
	margin: 0 auto 0 auto;
	width: 900px;
	font-family: calibri;
}

h1{
	font-family: arial;
	margin: 0px;
}

h3{	
	color:#8A0829;
}

label{
	display: inline-block;
	width: 200px;
	height: 30px;
}

a {
	color: #636363;
}

.namatugas {
    font-size: 30px;
    font-weight: bold;
    color: darkslategrey;
}

.commenttugas {

}

.atributtugas {
    font-weight: bold;
}


.body {
	width: 900px;
}

.contents{
	width: 700px;
	float: left;
	padding: 10px;
}

.catagories {
	float: left;
	width: 170px;
	padding: 10px;
}

header { 
   height : 84px;
   width : 900pxpx;
   border-bottom: dashed 2px #CEF6CE;
   padding-top: 5px;
   padding-bottom: 5px;
}

footer{
	width : 900px;
	text-align: center;
	border-top: dashed 2px #F5D0A9;
	clear: both;
	padding:10px;
}

.profpic {

	width:300px;
	float:left;
	clear: both;
	margin-right: 20px;
}

.dataUser{
	float:left;
	width:400px;
	clear: both;
}

.task {
	width: 230px;
	float:left;
	clear: both;
	padding:20px;

}

.profile {
	width:900px;
	height:370px;
}

.nama{
	padding-left: 10px;
	font-size: 60px;
}

.atribut{
	padding-left: 10px;
	font-size: 32px;
}

#loginbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #1570cd;
}#loginbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
	background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;
}#loginbutton:active {
	position:relative;
	top:1px;
}

#registerbutton{
	
	-moz-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d) );
	background:-moz-linear-gradient( center top, #fc8d83 5%, #e4685d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d');
	background-color:#fc8d83;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #b23e35;
}
#registerbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #fc8d83) );
	background:-moz-linear-gradient( center top, #e4685d 5%, #fc8d83 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#fc8d83');
	background-color:#e4685d;
}
#registerbutton:active {
	position:relative;
	top:1px;
}

#loginform {
	width:400px;
	float: left;
	padding: 10px;
}

.registerform {
	width:400px;
	float: left;
	padding: 10px;
}

input{
	border-radius: 5px;
}