header{
	margin: 0 auto 0 auto;
	width: 900px;
	background-color: #f0f0f0;
}

footer{
	clear: both;
	margin: 0 auto 0 auto;
	width: 900px;
	text-align: center;
	background-color: #f0f0f0;
}

body{
	margin: 0 auto 0 auto;
	width: 900px;
	font-family: arial;
	background: url(IF3038-2013/src/images/Background.jpg);
}

h1{
	font-family: arial;
	margin: 0px;
}

label{
	display: inline-block;
	width: 200px;
}

a {
	color: #636363;
}

.namatugas {
    font-size: 30px;
    font-weight: bold;
    color: darkslategrey;
}

.commenttugas {

}

.atributtugas {
    font-weight: bold;
}


.body {
	float: left;
	width: 100%;
}

.contents{
	width: 700px;
	float: left;
	padding: 10px;
}

.catagories {
	float: left;
	width: 158px;
	border-right: dashed 2px;
	padding: 10px
}