header{
	margin: 0 auto 0 auto;
	width: 1024px;
	background-color: white;
}

body{
	margin: 0 auto 0 auto;
	width: 1024px;
	font-family: calibri;
	background: url(images/Background.jpg);
}

h1{
	font-family: arial;
	margin: 0px;
}

label{
	display: inline-block;
	width: 200px;
}

a {
	color: #636363;
}

.namatugas {
    font-size: 30px;
    font-weight: bold;
    color: darkslategrey;
}

.commenttugas {

}

.atributtugas {
    font-weight: bold;
}


.body {
	float: left;
	width: 100%;
}

.contents{
	width: 700px;
	float: left;
	padding: 10px;
}

.catagories {
	float: left;
	width: 158px;
	border-right: dashed 2px;
	padding: 10px;
}

#logo { 
   background: url(images/Logo.png) no-repeat;
   height : 84px;
   width : 341px;
   margin : 60px;
}

#footer{
	background : url(images/Bottom.jpg);
	margin :0 px 600px;
	width : 1024px;
	height : 35px;
	text-align: center;
}

p {
	margin-left: 500px;
}

#loginbutton {
	background : url(images/LoginBottomClick.jpg);	
	width : 67px;
	height : 21px;
}

#registerbutton{
	background : url(images/SignUpBottom.png);	
	width : 67px;
	height : 21px;
}
	
	
